* {
  margin: auto;
}

body {
  background-color: #84949d;
}

#container {
  border: .15em solid #fcd254;
  border-radius: .5em;
  height: 100%;
  width: 80%;
  margin: 10px auto;
  background-color: white;
}

header {
  background-color: #fd8534;
  height: auto;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
}

#logo {}

body div header nav {
  width: 95%;
  font-size: 1.3em;
  bottom: 1em;
  position: relative;
}

body div header nav a {
  padding: .25em 1em;
  margin: .25em;
}

.main_navigation a {
  border: .05em solid white;
  color: white;
  text-decoration: none;
  border-radius: .25em;
}

h1 {
  margin: auto;
}

#page_content section {
  width: 95%;
}

h1, h3 {
  padding: 1em 0em;
  color: #1aa1df;
}

#page_content div h1 {
  color: #1aa1df;
}

#page_content ul li {
  font-weight: bold;
}

#table_title, #form_title {
  color: #bbe4f6;
}

#page_content section table, td {
  border: 1px solid #55bde8;
  border-collapse: collapse;
}

#page_content section table {
  width: 100%;
}

.TextCell {
  padding: .5em .75em;
}

#row_one {
  background: #2cace3;
  color: white;
  border: 2px solid #1987b8;
}

#row_one td {
  padding: 1em;
}

img {
  height: 30%;
  margin: 2em;
}

.line {
  border-top: #dbdbdb .25em solid;
  width: 95%;
  margin-top: 2em;
  margin-bottom: 1em;
}

form {
  background: #dbdbdb;
  border-radius: 1em;
  height: 22em;
  width: 95%;
  padding: .2em 0em;
}

body div div form textarea {
  width: 95%;
  border: .1em #2cace3 solid;
}

#form_div {
  background: #fd8534;
  border-radius: .25em;
  height: 3em;
  width: 95%;
  color: white;
}

#form_div label {
  margin-left: 1em;
}

.div_one {
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

#form_div label, input {
  margin-top: 1em;
}

#FavoriteBreed {}

button {
  background: #2cace3;
  color: white;
  padding: 1em;
  border-radius: .5em;
}
