#container{
  border: .2em solid #fcd254;
  height: 100vh;
}

header {
  background-color: orange;
}

.main_navigation a{
  border: .05em solid white;
}

#page_content section h1 {
  color: #bbe4f6;
}

#table_title, #form_title {
  color: #bbe4f6;
}

table{
  /*background-color: black;*/
}
